body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

.g-relative {
  position: relative;
}

.slide-enter-active, .slide-leave-active {
  transition: all 0.3s;
}

.slide-enter-from, .slide-leave-to {
  // 从一开始的位置向X轴右侧挪动自己的距离
  // 这样子路由切换就有进入时是从左侧拉到右侧
  // 路由离开就有从右侧拉到左侧
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.list-enter-active, .list-leave-active {
  transition: all 0.3s;
}

.list-enter-from, .list-leave-to {
  height: 0 !important;
}
// animation的动画效果：0的时候旋转0度，100%的时候旋转360度
@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}
